/*Personal assistant main style sheet*/

.new_item{
	width:60%;
	display: block;
	z-index:-1;
}

.title_input{
	width:200px;
	margin:5px;
}

.content_input{
	width:400px;
	margin:10px;
	resize:none;
}

.item_input{
	margin:auto;
	min-width: 300px;
	width: 33%;

}